<!DOCTYPE html>

<html>

<head>

    <title>Snake Water Gun</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<h1>Snake Water Gun Game</h1>

<button onclick="play(0)">🐍 Snake</button>

<button onclick="play(1)">💧 Water</button>

<button onclick="play(2)">🔫 Gun</button>

<h2 id="user"></h2>

<h2 id="computer"></h2>

<h1 id="result"></h1>

</div>

<script src="/static/script.js"></script>

</body>

</html>
